/* Textskalierung */
@media only all and (max-width: 450px) {
    body  {
        font-size: 14px;
    }

    #Überschrift {
        font-size: 180%;
    }

    #Frage {
        font-size: 90%;
    }

    #Antworten {
        font-size: 90%;
    }

    #button {
        width: 200%;
        height: 30vh;
        font-size: 60%;
    }
  }

/* Allgemeines */
body {
    background-image: url(../img/lama.gif);
    background-size: 60px 60px;
    max-width: 65em;
    margin: 0 auto;
    padding: 0 1em;
    font-family: monospace;
    font-size: 18px;
}

/* Überschrift */
h1 {
    text-align: left;
    font-size: 35px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2vh;
}


#logo {
    background-image: url(../img/logo.png);
    background-size: 80px;
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 12px;
}


/* Antworttext */
.a {
    line-height: 130%;
}

/* Gesamter Container */
#app {
    border: 5px solid black;
    margin: auto;
    margin-top: 10vh;
    box-align: center;
    height: 450px;
    width: 300px;
    text-align: center;
    overflow: hidden;
    position:relative;
    background-color: white;
}

/* Container für Fragen */
#Frage {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%; 
}

/* Container für Antworten */
#Antworten {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

/* Knopf am Ende */
button {
    margin: 0 auto;
    margin-top: 3vh;
    width: 100px;
    height: 50px;
    BORDER: 4px solid black;
    background-color: white;
    font-weight: 900;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

button {
    margin: 0 auto;
    margin-top: 3vh;
    width: 100px;
    height: 50px;
    BORDER: 4px solid black;
    background-color: white;
    font-weight: 900;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

#Button_Container {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

#Alpaka_Animation {
    background-image: url(../img/Alpaka_Animation.jpg);
    background-size: cover;
    background-color: black;
    height: 60px;
    width: 60px;
    margin-top: 60px;
    margin-left: 20px;
}

.rotate-active {
    animation: none;
    visibility: hidden;
}

.rotate {
    animation: rotation 2s infinite linear;
}
  
@keyframes rotation {
    from {
        transform: rotate(0deg);    
    }
    to {
        transform: rotate(359deg);
    }
}

button:hover {
    background-color: black;
    color: white;
    background-image: url(../img/alpaka.gif);
    background-size: contain;
}

